
@{
    ViewData["Title"] = "SifremiUnuttum";
}


<form style="width:32%; position:absolute;margin-left:23%;margin-top:5%;" class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
    <h3>Şifre Sıfırlama</h3>
    <div class="container"
     
     </div>
    <div style="" class="form-floating mb-3">
        <label for="floatingInput"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">E-posta adresi</font></font></label>
        <br>
        <input type="email" class="form-control" id="floatingInput" placeholder="isim@example.com" required>

    </div>
    <button style=" position:absolute;margin-left:15%;margin-top:0%; background-color=red class="w-10 btn btn-lg btn-primary" type="submit"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Doğrulama Kodu Gönder</font></font></button>
    </form>