
@{
    ViewData["Title"] = "DanismanDuzenle";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@model Danisman
<h1>DanismanDüzenle</h1>

<form asp-action="DanismanDuzenle" asp-controller="Admin" method="post">
    <div class="mx-auto col-md-7">
        <label asp-for="Ad">Ad </label>
        <input asp-for="Ad" class="form-control" required>
    </div>
    <div class="mx-auto col-md-7">
        <label asp-for="Soyad">Soyad</label>
        <input asp-for="Soyad" class="form-control" required>
    </div>
    <div class="mx-auto col-md-7">
        <label asp-for="Telefon">Telefon</label>
        <input asp-for="Telefon" class="form-control" required>
    </div>
    <div class="mx-auto col-md-7">
        <label asp-for="ePosta">ePosta</label>
        <input asp-for="ePosta" class="form-control" required>
    </div>
    <div class="row">
        <div class="mx-auto col-md-7" style="padding:1%; text-align:center;">
            <button type="submit" class="btn btn-primary">Danişman Güncelle</button>
            <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("Index","Admin")';">İptal</button>
        </div>
    </div>
</form>

