@{
    var kullaniciID = Context.Session.GetInt32("kullaniciID");
    /*if (kullaniciID == null)
    {
        Context.Response.Redirect("/Login/Index");
    }*/
    var Ad = Context.Session.GetString("Ad");
   
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EmlakYonetim</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EmlakYonetim.styles.css" asp-append-version="true" />
</head>
<body style="height:1200px;">
    <header >
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 " style="background-color: #e3f2fd;">
            <div style="" class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="EmlakYonetim" asp-action="Index">
                    <img src="~/img/indir (1).png" alt="" />
                </a>
               
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div style="" class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="EmlakYonetim" asp-action="Index">AnaSayfa</a>
                        </li>
                        <li class="nav-item">
                            @if (@kullaniciID != null)
                            {
                             <a class="nav-link text-dark" asp-area="" asp-controller="EmlakYonetim" asp-action="ilanPaylaşma">İlanver</a>
                            }
                            else
                            {
                                <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Index">İlanver</a>
                            }
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="EmlakYonetim" asp-action="Emlaklar">İlanlar</a>
                        </li>
                      
                        <li class="nav-item">
                            @if (@kullaniciID != null)
                            {
                             <a class="nav-link text-dark" asp-area="" asp-controller="EmlakYonetim" asp-action="Randevu">RandevuAlma</a>
                            }
                            else
                            {
                                <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Index">Randevu</a>
                            }
                        </li>
                        
                        <li class="nav-item">
                            @if (@kullaniciID != null)
                            {

                             <a class="nav-link text-dark" asp-area="" asp-controller="EmlakYonetim" asp-action="Randevularım" >Randevularım</a>
                            }
                            else
                            {
                                <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Index">Randevularım</a>
                            }
                        </li>
                       
                        <li class="nav-item">
                            @if (@kullaniciID != null)
                            {
                             <a class="nav-link text-dark" asp-area="" asp-controller="EmlakYonetim" asp-action="Odemelerim">Ödemelerim</a>
                            }
                            else
                            {
                                <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Index">Ödemelerim</a>
                            }
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="EmlakYonetim" asp-action="EmlakHaberleri">EmlakHaberleri</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="EmlakYonetim" asp-action="Danismanlar">Danışmanlar</a>
                        </li>
                        <li class="nav-item" style="margin-left: auto;">
                           
                            @if (@kullaniciID!=null)
                            {
                                <div class="navbar-collapse collapse show" id="navbarNav" style="">
                                    <ul class="navbar-nav ms-auto">
                                        <li class="nav-item dropdown">
                                            <button style="background-color:aqua" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="bi bi-person-circle"></i> @Ad
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                            <li><a class="dropdown-item" asp-controller="EmlakYonetim" asp-action="Profil" asp-route-ID="@kullaniciID">Profilim</a></li>
                                                <li><hr class="dropdown-divider"></li>
                                                <li><a asp-controller="Login" asp-action="OturumuKapat" class="dropdown-item">Oturumu Kapat</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            }
                            else
                            {
                                <a asp-controller="Login" asp-action="Index" class="btn btn-success">Giriş Yap</a>
                            }
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - EmlakYonetim - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
